<h1>written successfully</h1>
<%= link_to "<button class='button-secondary'>Click to Add your Resume</button>".html_safe, new_resume_path %>
<%= link_to "<button class='button-secondary'>List of Added Resumes</button>".html_safe, resumes_path %>
